/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    box-sizing: border-box;
}

ul, li {
    margin: 0;
    padding: 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, 
body {
    background: #ccc;
    height: 100%;
    font-family: 'Baloo Thambi', cursive;
    overflow: hidden;
}

.container {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: calc(100% - 20px);
    margin: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
}

header {
    width: 100%;
    text-align: center;
    flex: 0 1 auto; /* flex-grow, flex-shrink, flex-basis */
    padding: 10px;
}

.main {
    flex: 1 1 auto;
    padding: 20px 10px;
    background: #FFA600;
    display: flex;
    justify-content: center;
}

.center {
    align-self: center;
}

.input-parent {
    text-align: center;
    display: block;
}

#player-input {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 50px;
    transform: translateX(20px);
}

.btn {
    border: none;
    border-radius: 3px;
    text-align: center;
    background: #fff;
}

.btn:disabled {
    color: #666;
    background: #999;
}

.btn-go {
    width: 35px;
    height: 35px;
    border-radius: 35px;
    text-transform: uppercase;
    line-height: 34px;
    transform: translate(-20px, 23px);
}

.guesses {
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.guess-list,
.guess-hints {
    margin: 0;
}

.guesses li {
    display: inline-block;
    width: 40px;
}

.guesses .hints {
    height: 20px;
    line-height: 40px;
}

/* = HINT ARROWS = */

.arrow-up {
    -webkit-mask: url(../img/arrow-up.svg) no-repeat 50% 50%;
    mask: url(../img/arrow-up.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.arrow-down {
    -webkit-mask: url(../img/arrow-down.svg) no-repeat 50% 50%;
    mask: url(../img/arrow-down.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.star {
    -webkit-mask: url(../img/star.svg) no-repeat 50% 50%;
    mask: url(../img/star.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.ex {
    -webkit-mask: url(../img/ex.svg) no-repeat 50% 50%;
    mask: url(../img/ex.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover;
}

.color-burning {
    background: #FF2A00;
}

.color-lukewarm {
    background: #FF8158;
}

.color-chilly {
    background: #897EA9;
}

.color-icecold {
    background: #5F59A9;
}

.color-victory {
    background: #FFDB99;
}

.color-over {
    background: #000;
}

/* =============== */

.guesses .guess {
    height: 40px;
    line-height: 40px;
    border: 2px #eee solid;
    border-radius: 5px;
}

.nav {
    margin-top: 30px;
}

.nav .btn {
    width: 60px;
}

footer {
    flex: 0 1 auto;
    width: 100%;
    padding: 10px;
    text-align: center;
}

footer img {
    width: 50%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
}

footer a {
    color: orange;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}